<section class="mt-5">
  <div class="overflow-x-auto">
    <table class="table table-xs">
      <thead>
        <tr>
          <th>#</th>
          <th>Icon</th>
          <th>Flag</th>
          <th>Name</th>
          <th>Capital</th>
          <th>Population</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (country of countries(); track country.cca2; let index = $index) {
          <tr>
            <th>{{index + 1}}</th>
            <td>{{country.flag}}</td>
            <td>
              <img [src]="country.flags.svg" [alt]="country.cca2" class="w-10">
            </td>
            <td>{{country.name.official}}</td>
            <td>{{country.capital}}</td>
            <!-- <td>{{country.population}}</td> -->
             <td>
              <span class="badge badge-secondary">
                {{ country.population | number:'1.0-0' }}
              </span>
             </td>
             <td>
              <a [routerLink]="['/country/by/', country.cca2]" class="link-primary cursor-pointer">More info</a>
             </td>
          </tr>
        }
        @if (errorMessage()) {
          <tr>
            <td colspan="8" class="text-center">
              {{errorMessage()}}
            </td>
          </tr>
        }
        @if (isEmpty() && !isLoading()) {
          <tr>
            <td colspan="8" class="text-center">
              Countries were not found
            </td>
          </tr>
        }
        @if (isLoading()) {
          <tr>
            <td colspan="8" class="text-center">
              Searching countries...
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
